.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8rem;
}
.products div {
  margin: auto;
}
.product_image img {
  max-width: 300px;
}
.product_details p {
  margin-top: 1rem;
  font-size: 1.4rem;
}
