main {
  display: grid;
  grid-template-columns: 14rem 1fr;
  margin: 8rem;
}
article {
  max-width: 30%;
}
#side_menu {
  width: 100%;
}
#side_menu_category ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}
.deep_menu {
  padding-left: 1.5rem;
  padding-top: 2rem;
}
#product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.products img {
  width: 20rem;
  max-height: 24rem;
  object-fit: contain;
}
